.featured-content-items {
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
}
.featured-content-item {
	margin-left: 1em;
	margin-right: 1em;
	width: 150px;
	display: inline-block;
	position: relative;
}
.featured-content-item > a {
	overflow: hidden;
	display: block;
}
.featured-content-item .title {
	font-weight: bold;
	display: inline;
	min-height: 1em;
	position: absolute;
	padding: 5px;
	z-index: 2;
}
.featured-content-item .title.dragging {
	cursor: move;
}

.featured-content-item img {
	display: block;
	margin-bottom: 0.5em;
	z-index: 1;
}
