
.control-section-featured_item > .accordion-section-title:before {
	font-family: Dashicons;
	content: "\f214";
	cursor: move;
	padding-right: 1ex;
	vertical-align: middle;
	font-weight: normal;
	color: #ccc
}

#customize-controls .control-panel-featured_items > .panel-meta {
	border-bottom: 0;
}
.featured-items-addition {
	border-top: 1px solid #ddd;
	padding: 15px 12px 0 15px;
}
.featured-items-addition button {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

.featured-items-addition .addition-failure {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.featured-items-addition button.progress {
	cursor: progress;
}
.featured-items-addition button.progress + .spinner {
	visibility: visible;
}

.featured-items-addition button:before {
	content: "\f132";
	display: inline-block;
	position: relative;
	left: -2px;
	top: -1px;
	font: normal 20px/1 dashicons;
	vertical-align: middle;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
